h1 {
  color: #0A0705;
  padding-bottom: 32px;
  padding-top: 24px;
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  color: #ffffff;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 64px;
  font-size: 1.5rem;
  font-weight: 200;
}

.regular {
	font-weight: 800;
  color: #CC9B65;
}

p { 
  color: #0A0705;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
  font-size: 1rem;
  font-style: regular;
}

nav {
  display: flex;
  height: 100px;
  background-color: #0A0705;
  border-width: 0px;
  margin: 0px;
}
@media screen and (min-width: 600px) {
.navstate a {
  font-family: helvetica;
  font-size: 16px;
  transition: 0.1s font-size linear;
}
}
.navstate a:hover {
  font-family: helvetica;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.3s font-size linear;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 80px;
  padding: 5px;
}

li a {
  display: block;
  color: #ffffff;
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  font-size: 16px;
}

form {
  display: block;
  width: 400px;
  background-color: #ffffff;
  border: none;
  padding: 20px;
  margin: auto;
}

input {
  width: 375px;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid #000000;
  padding: 5px 5px 5px 5px;
}

select {
  width: 380px;
  height: 40px;
  margin: 0px;
  font-size: 16px;
  border: 1px solid #000000;
  margin-top: 10px !important;
}

#beans {
  position: justify; 
  padding: 0px;
  margin: 0px;
  height: 40px;
  padding-top: 5px;
}

.subscription {
  display: block;
  position: flex;
  padding: auto;
  margin: 0px;
}

#newsletter {
  position: static; 
  padding: auto;
  margin: 5px;
  height: 15px;
}

.checkbox input {
  padding: 5px;
  width: 30px;
  border: 1px solid #000000;
  margin: 40px;
}

.subscription label,
.subscription input {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.subscription input {
  margin-right: 5px;
}

.subscription-title {
  margin-bottom: 5px;
}

button {
  width: 380px;
  padding: 15px 20px 15px 20px;
  margin: 5px;
  color: #ffffff;
  background-color: #CC9B65;
  font-size: 1.125rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 64px;
  margin-top: 32px;
}

footer {
    display: flex;
    padding: 60px;
    background-color: #322C25;
    color: #ffffff;
    height: 100px;
    text-decoration: none;
}